---
import Material from '../../layouts/Material.astro';
---
<Material
  title="Decal Phản Quang 3M Chính Hãng"
  materialId="phanquang"
>
  <p>Nội dung chi tiết về Decal phản quang tại đây...</p>
  <ul>
    <li>Độ bền: 3-5 năm</li>
    <li>Khổ rộng: 60cm, 120cm</li>
  </ul>
</Material>
